<div class="element-bg-img"><img src="assets/images/1.jpg" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let starCount of [0,1,2,3,4,5]">
        <a (click)="selectedStars = starCount" *ngIf="starCount > 0">{{starCount}} stars</a>
        <a (click)="selectedStars = starCount" *ngIf="starCount === 0">All stars</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <app-activity-row *ngFor="let hotel of hotels | async | hotelFilter:selectedStars"
                          [name] = "hotel.name"
                          [description] = "hotel.description"
                          [stars] = "hotel.stars"
                          [telephone] = "hotel.telephone"
                          [photo] = "hotel.photo"
                          (click) = "switchHotel(hotel)"
        ></app-activity-row>
      </div>
    </div>
  </div>
</div>
