<div class="activity-row">
  <div class="activity-desc" style="width: 200px">
    <h5>{{name}}</h5>
    <p>Category: {{stars}}</p>
      <p>Website: <a  href="{{'http://'+website}}">{{website}}</a></p>
      <p>Email: <a href="{{'mailto:'+email}}">{{email}}</a></p>
    <h6>Tel:+7 {{telephone}}</h6>
  </div>
  <!--<div class="activity-img">-->
    <!--<ul>-->
      <!--<li><img src='assets/images/res.jpg'  alt=""/></li>-->
      <!--<li><img src='assets/images/r1.jpg'  alt=""/></li>-->
    <!--</ul>-->
  <!--</div>-->
  <div class="clear"> </div>
</div>
